body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 /* Style for the container */
.container {
    background-color: #fff;
    max-width: 524px;
    padding: 40px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 50px 50px;
}

/* Style for the form group */
.form-group {
    margin-bottom: 30px;
    position: relative; /* Position relative for icon positioning */
}

/* Style for the icon */
.material-symbols-outlined {
    position: absolute;
    left: 15px; /* Adjust the left position as needed */
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px; /* Adjust the font size as needed */
    color: #888; /* Adjust the icon color */
}

/* Style for the input fields */
input[type="email"],
input[type="password"] {
    width: calc(100% - 5px); /* Adjust the width to accommodate the icon */
    padding: 10px;
    border: 2px solid #cccccc;
    border-radius: 18px;
    box-sizing: border-box;
    height: 54px;
    padding-left: 50px; /* Adjust the left padding to prevent text overlap with the icon */
}

/* Hover effect for input fields */
input:hover {
    border-color: rgb(117, 183, 204);
    border-radius: 25px;
}

/* Placeholder style */
::placeholder {
    color: rgb(40, 136, 165);
}

/* Style for the submit button */
input[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(90deg, #FFF6B7 0%, #F6496F 100%);

    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

/* Error message style */
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
.logo {
    max-width: 95%;
    padding: 20px; /* Adjusted padding for proportional height */
    border-radius: 50px 50px 0px 0px;
    background: linear-gradient(90deg, #FFF6B7 0%, #F6496F 100%);

    color: white;
    text-align: center;
    height: 40px;
}
